body{
    background: #eeeeee;
}

.container {
    margin: 0 auto;
    height: 1000px;
    width: 1000px;
    position: relative;
}

.container:after{
    content: "";
    display: block;
    clear: both;
}

.main{
    background: #FFD62A;
    height: 760px;
    width: 680px;
    margin: 10px;
    position: absolute;
    right: 0px;
    top: 100px;
}

.sidebar{
    background: #51D400;
    height: 760px;
    width: 280px;
    margin: 10px;
    position: absolute;
    left: 0px;
    top: 100px;
}

.footer{
    background: #CCCCCC;
    height: 80px;
    width: 980px;
    margin: 10px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}
.header{
    background: #B02AFF;
    height: 100px;
    width: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start;
    z-index: 1;
}
.item1{
    background: #2AEAFF;
    width: 100px;
    height: 60px;
    margin: 10px;
    position: fixed;
    top: 20px;
    left: 0px;
    z-index: 2;
}
.item2{
    background: #2AEAFF;
    width: 100px;
    height: 60px;
    margin: 10px;
    position: fixed;
    top: 20px;
    left: 120px;
    z-index: 2;
}
.item3{
    background: #2AEAFF;
    width: 100px;
    height: 60px;
    margin: 10px;
    position: fixed;
    top: 20px;
    left: 240px;
    z-index: 2;
}
.item4{
    background: #2AEAFF;
    width: 100px;
    height: 60px;
    margin: 10px;
    position: fixed;
    top: 20px;
    left: 360px;
    z-index: 2;
}

ul{list-style-type: none;}