body{
    background: #eeeeee;
}

.container {
    background: #ffffff;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
    height: 600px;
    width: 960px;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
.green {
    background: #51D400;
    height: 25%;
}
.yellow{
    background: #FFD62A;
    height: 50%;
    float: bottom;
}
.purple {
    background: #B02AFF;
    height: 25%;
}
.item {
    width: 960px; 
}