body{
    background: #eeeeee;
    width: 900px;
}

.flex-container {
    background: #FFD62A;
    margin: 0 auto;
    padding: 0;
    height: 600px;
    width: 100%;
    display: flex;
    position: absolute;
    }

.item {
    background: #B02AFF;
    width: 100px;
    height: 100px;
    margin-right: 10px;
    position: relative;
    top: 300px;
    left: 0px;
}

ul{list-style-type: none;}

