body {
    background: linear-gradient(90deg, gray, white 50%, gray);
    position: relative;
    display: flex;
}

.container-top {
    position: absolute;
    width: 800px;
    height: 400px;
    top: 100px;
    left: 250px;
    display: flex;
    background: white;
    flex-direction: row;
    margin: 0, auto;
}
.main {
    /* background-image: url(''); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: yellow; */
    width: 70%;
}
nav {
    background-color: white;
    background-image: url("images/arrow.svg");
    background-position: center;
    background-size: 25px, 25px;
    background-repeat: no-repeat;
    width: 15%;
}
.right {
    transform: rotate(180deg);
}

.container-bottom {
    position: absolute;
    top: 500px;
    left: 250px;
    width: 800px;
    height: 100px;
}
.thumbnails {
    display: flex;
    justify-content: center;

}
.photos {
    height: 50px;
    width: 50px;
    margin: 10px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}