p {
    width: 150px;
    height: 150px;
    display: inline-block;
    border-radius: 100%;
    text-align: center;
    padding: 65px;
    margin: 5px;
    background-color: #0CEBDE;
    font-size: 35px;
    font-weight: bold;
    color: white;

}
.first{
    background:#B90CEB;
   
}
.middle{
    background:#0CEBDE;
    
}

.last{
    background:#EBBE0C;

}



