body {
    background: black;
}
.header {
    background-image: url("space.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
}
.container {
    background-color: #EEEEEE;
    height: 1000px;
    margin: 20px;
    display: flex;
}
.left {
    width: 68%;
    background-color: white;
    margin: 1%;
    height: 900px;
}
.right {
    width: 28%;
    background-color: white;
    margin: 1%;
    height: 300px;
}
button {
    color: white;
    font-weight: bold;
    font-size: 28px;
    background-color: #4AA3DF;
    height: 40px;
    width: 100%;
    margin-bottom: 10px;
    
}
h3 {
    margin: 5px;
    color: #555555;
}
ul {
    font-size: 18px;
    margin: 10px
}
li {
    font-size: 18px;
    margin: 10px;  
}
.left {
    font-family: 'Lato', sans-serif;
}
.title {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    width: 70%;
}
.owner{
    font-size: 18px;
}
.buttons{
    display: flex;
    /* justify-content: space-around; */
    color: #555555;
    width: 70%;
}
.buttons > div {
    margin-right: 10px;

}
.upvote {
    background-image: url("upvote.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}
.downvote {
    background-image: url("downvote.png");
    height: 40px;
    width: 40px;
    background-repeat: no-repeat;
    background-size: cover;
}
.vote {
    font-size: 30px;
    margin-right: 10px;
}
.loaded {
    display: flex;
}