/* Base form*/
.main{
    margin: 0 auto;
    box-sizing: border-box;
    background: #DCD6CD;
    width: 820px;
    height: 900px;
    position: relative;
}
body{
    width: 820px;
    height: 920px;
    margin: 0 auto;
    box-sizing: border-box; 
}
.top{
    box-sizing: border-box;
    display: inline-block;
    border: 0px;
    width: 820px;
    height: 60px;
    background: #DCD6CD;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    color: #4A4261;
}
.middle{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border: 0px;
    width: 407px;
    height: 430px;
    background: #DCD6CD;
    margin: 0 auto;
    padding: 20px;
}
.mainhead{
    color:white;
    font-family:Ariel;
    font-size:25px;
    background-color:#938C97;
    height:40px;
    border-radius:3%;
}
.subhead{
    font-weight: bold;
    display: inline-block;
}
.star{
    color: red;
}
.field{
    height:30px;
    width:40%;
    border-radius:3%;
    margin: 10px, 0px;
    border:1px solid grey;
}
.bal{
    float: left;
    display: block;
}
.jobb{
    float: right;
}
.middleright{
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    border: 0px;
    width: 407px;
    height: 430px;
    background: #DCD6CD;
    margin: 0 auto;
    padding: 20px;
}
.bottom{
    box-sizing: border-box;
    border: 0px;
    width: 820px;
    height: 100px;
    background: #DCD6CD;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
}
