.container{
    width: 960px;
    height: 100px;
    margin: 0 auto;
}
.container:after{
    content: "";
    display: block;
    clear: both;
}
nav{
    background: #2AEAFF;
    width: 100px;
    height: 60px;
    margin: 10px;
    top: 20px;
    left: 0px;
}
.header{
    background: #B02AFF;
    left: 0px;
    top: 0px;
    display: flex;
    justify-content: flex-start
}
.container_grid {
    display: grid;
    width: 960px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(150px, auto);
    grid-gap: 10px;
    margin: 0 auto;
}
.green {
    background: #51D400;
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}
.yellow{
    background: #FFD62A;
    grid-column: 2 / 4;
    grid-row: 1 / 3;
}
.grey{
    background: #CCCCCC;
    grid-column: 1 / 4;
    grid-row: 3 / 3;
}